<h1> Check out this specific cat! <h1>
  <h2><%= @cat.name %></h2>
  <ul>
    <li>Birthday: <%= @cat.birth_date %></li>
    <li>Sex: <%= @cat.sex %></li>
    <li>Color: <%= @cat.color %></li>
    <li>Description: <%= @cat.description %></li>
  </ul>


  <!-- <table>
    <colgroup span="5"></colgroup>
    <tr>
      <th>Birthday</th>
      <th>Sex</th>
      <th>Color</th>
      <th>Description</th>
    </tr>
    <tr>
      <td><%#= @cat.birth_date %></td>
      <td><%#= @cat.sex %></td>
      <td><%#= @cat.color %></td>
      <td><%#= @cat.description %></td>
    </tr>

  </table> -->
