<h1>title: <%= @post.title %></h1>
<h3>url: <%= @post.url %></h3>
<h3>content: <%= @post.content %></h3>
  <% author = User.find(@post.author_id).username %>
<h6>created by: <%= author %></h6>


<% if @post.author_id == current_user.id %>
  <li><%= link_to 'edit post', edit_post_url(@post) %></li>
<% end %>

<ul>

  <% @post.comments.where(parent_comment_id: nil).each do |comment| %>
    <li><%= comment.content %>
    <%= link_to 'show', comment_url(comment) %>
    by: <%= User.find(comment.author_id) %>
    <% if comment.author_id == current_user.id %>
      <%= link_to 'edit', edit_comment_url(comment) %>
    <% end %>
  <% end %>
  </li>
</ul>
<!-- <form action="<%#= post_comments_url %>" method="post">
  <%#= auth_token_input %>

  <input type="submit" value="comment">
</form> -->


  <%= link_to 'back to all subs', subs_url %>
