<!DOCTYPE html>
<html>
  <head>
    <title>RedditOnRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <h1>redditOnRails</h1>
      <ul>
        <li><%= link_to 'USERS', users_url %></li>
      </ul>
    </header>

    <% if logged_in? %>
      <%= current_user.username %>
      <%= button_to 'Sign Out', session_url, method: :delete %>
    <% else %>
      <%= link_to 'Sign In', new_session_url %>
      <%= link_to 'Sign Up', new_user_url %>
    <% end %>

    <aside>
      <%= link_to 'submit a new post', new_post_url %>
    </aside>

    <%= yield %>

    <% flash[:errors].try(:each) do |error| %>
      <%= error %>
    <% end %>
  </body>
</html>
